[submodule "third_party/openssl/openssl"]
	path = third_party/openssl/openssl
	url = git@github.com:openssl/openssl.git
[submodule "third_party/protobuf/protobuf"]
	path = third_party/protobuf/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
[submodule "third_party/crypto-suites/safeheron-crypto-suites-cpp"]
	path = third_party/crypto-suites/safeheron-crypto-suites-cpp
	url = git@github.com:Safeheron/safeheron-crypto-suites-cpp.git
[submodule "third_party/multi-party-ecdsa/multi-party-ecdsa-cpp"]
	path = third_party/multi-party-ecdsa/multi-party-ecdsa-cpp
	url = git@github.com:Safeheron/multi-party-ecdsa-cpp.git
[submodule "third_party/mpc-flow/mpc-flow-cpp"]
	path = third_party/mpc-flow/mpc-flow-cpp
	url = git@github.com:Safeheron/mpc-flow-cpp.git
